* {
    margin: 0;
    padding: 0;
}
body {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E2FAFE 100%) 0% 0% no-repeat padding-box;
    
}
.form * {
    outline: none;
}

@import './blocks/upper';
@import './blocks/hamburger';
@import './blocks/form';
@import './blocks/title';
@import './blocks/header';
@import './blocks/services';
@import './blocks/intelligence';
@import './blocks/advantages';
@import './blocks/explanation';
@import './blocks/document';
@import './blocks/definition';
@import './blocks/footer';
@import './blocks/contactPage';
@import './blocks/servicesPage';
@import './blocks/articlesPage';
@import './blocks/articlesSliderPage';
@import './blocks/helpPage';
@import './blocks/programPage';
@import './blocks/questionsPage';
@import './blocks/legalServicesPage';
@import './blocks/accountingServicePage';
@import './blocks/otherServicePage';
@import './blocks/modalWindows';
@import './blocks/media';






