.contact {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E2FAFE 100%) 0% 0% no-repeat padding-box;
    &__wrapper {
        width: 100%;
        
    }
    
    .container {
        padding:0 320px 100px 270px;
        display: flex;
    }
    &__block1 {
        width: 30%;
        padding: 10px;
        
    }
    &__block2 {
        width: 70%;
        padding: 10px;
        padding-left: 30px;
    }
    &__info {
        font-size: 30px;
        color: #000000;
        opacity: 0.7;
        margin-top: 25px;
        p {
            font-size: 22px;
            &:nth-child(1) {
                margin-bottom: 30px;
                font-weight: 700;
            }
            &:nth-child(2) {
                margin-bottom: 50px;
                font-weight: 700;
            }
            &:nth-child(3) {
                margin-bottom: 44px;
            }
            &:nth-child(4) {
                margin-bottom: 100px;
                span {
                    font-weight: 700;
                }
            }
            &:nth-child(5) {
                margin-bottom: 56px;
                font-size: 30px;
                font-weight: 700;
            }
            &:nth-child(6) {
                font-weight: 700;
            }
        }
        &_smoll {
            display: none;
        }
    }
    &__descr {
        font-size: 100px;
        font-weight: 700;
        margin-top: 130px;
        margin-bottom: 80px;
        color: #007083;
        margin-left: 15%;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        margin-top: 65px;
    }
    &__icon {
        width: 70px;
        height: 70px;
        border-radius:100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px #0070834D;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #form-contact {
        .form {
            input, textarea {
                width: 100%;
            }
            &__item {
                width: 100%;
            }
            &_contact {
                label {
                    width: 100%;
                }
            }
        }
        

    }
}