.document {
    .title {
        text-align: center;
    }
    padding-top: 200px;
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
    .image-slaider {
        padding: 30px 0 70px 0;
        align-items: center;
        // &__wrapper {
        //     background-color: rgb(255, 255, 255);
        // }
        // &__slide {
        //     background-color: rgb(248, 239, 239);
        // }
        &__image {
            text-align: center;
            img  {
                max-width: 90%;
            }
        }
        .swiper-pagination {
            max-width: 900px;
            height: 5px;
            background-color: #007083;
            
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -450px;
            
            span {
                background-color: #F66E4D;
            }
        }
    }
}