.helpPage {
    .container {
        max-width: 1360px;
        margin: 0 auto;
        padding: 0 50px;
    }
    .header {
        margin-bottom: 117px;
    }
    .modalBlock {
        max-width: 1100px;
        min-height: 336px;
        box-shadow: 0px 15px 30px #00708330;
        border-radius: 103px;
        padding: 84px 60px 93px 86px;
        margin: 0 auto;
        &__title {
            font-size: 40px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 50px;
        }
        &__descr {
            display: flex;
            justify-content: space-between;
            margin-bottom: 94px;
        }
        &__text {
            width: 696px;
            font-size: 20px;
            padding-right: 40px;
        }
        &__price {
            font-size: 22px;
            font-weight: 700;
        }
        &__btn {
            button {
                font-size: 18px;
                font-weight: bold;
                width: 333px;
                height: 75px; 
                background: transparent linear-gradient(259deg, #FF896D 0%, #F94C23 100%) 0% 0% no-repeat padding-box;  
                border:none;
                border-radius: 38px;
                -webkit-box-shadow: 3px 5px 46px 13px rgba(249, 80, 39, 0.2);
                -moz-box-shadow: 3px 5px 46px 13px rgba(249, 80, 39, 0.2);
                box-shadow: 3px 5px 46px 13px rgba(249, 80, 39, 0.2);
                &:hover {
                    border: 1px solid red;
                }
                &:active {
                    top: 3px;
                    box-shadow:0 2px 0 #161b13;
                }
            }
        }
    }
    &__title {
        font-size: 70px;
        color: #000000;
        font-weight: 700;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    table {
        color: #fff;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0 auto;
        border: none;
        font-size: 20px;
        
        .application {
            width: 185px;
            display: none;
    
        }
        .cost {
            width: 185px;
            font-size: 18px;
            span {
                font-size: 20px;
                font-weight: 700;
            }
        }
        td {
            // padding-left: 35px;
            padding: 1px 1px 1px 35px;
            border: none;
        }
        .colorOringe {
            height: 100px;
            // &:hover {
            //     background: #F66E4D;
            //     .application {
            //         display: block;
            //         color: #fff;
            //         text-decoration: none;
            //         text-align: center;
            //         font-size: 18px;
            //     }
            //     .cost {
            //         display: none;
            //     }
            // }
        }
        #colorOringe {
            background: #F66E4D;
            .application {
                display: block;
                color: #fff;
                text-decoration: none;
                text-align: center;
                font-size: 18px;
            }
        }
        tr {
            border: none;
            background-color: #007083;
            &:nth-child(even) {
                // background-color: #006f83a8;
                background-color: #318D9C;
            }
        }
    }
    &__text {
        max-width: 1131px;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 81px;
        margin-bottom: 100px;
    }
}





