@media (max-width:1600px) {
    .upper {
        // &__wrapper {
        //     background-size:cover;
        //     // background-position:  right center;
        //     background-position:  100% 100%;
        // }

        .header {
            padding: 40px 50px 0 20px;
        }
        .menu {
            li {
                margin-right: 30px;
            }
        }
        .element {
            right: 30px;
        }
    }
}


@media (max-width:1400px) {
    .upper {
        .container {
            width: 1000px;    
        }
        &__descr {
            font-size: calc(50px + 16*(100vw/1600));
            margin-bottom: 150px;
        }
    }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0,0,0, .8);
        transition: 0.8s all;
        z-index: 20;
        &__list {
            flex-direction: column;
            height: 85%;
            justify-content: space-evenly;
            a {
                color: #fff;
            }
        }
        &__active {
            left: 0;
            a {
                color: #fff;
            }
        }
        &__item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
            
        }
        &__link {
            font-size: 20px;
            color: #fff;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 100px;
        transform: translateY(-50%);
        width: 40px;
        height: 16px;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background: #F66E4D;
            margin-bottom: 4px;
            transition: 0.5s all;
        }
        &__active {
            span {
                margin-bottom: -2px;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg)     
                }
            }
            
        }
    }
}


@media (max-width:1200px) {
    .upper {
        .container {
            width: 900px;    
        }
        &__descr {
            font-size: calc(40px + 16*(100vw/1600));
            margin-bottom: 150px;
        }
    }
    // .explanation {
    //     .spoiler {
    //         details[open]>summary {
    //             &::before {
    //                 content: '';
    //                 left: -25px;
    //                 width: 105%;
    //             }
    //         }
    //     }
        
    // }
}



@media (max-width: 991px) {
    .title {
        font-size: 70px;
    }
    .upper {
        .container {
            width: 700px;  
            
        }
    }
    .services {
        padding-top: 100px;
    }
    .intelligence {
        padding-top: 100px;
        &__block {
            max-width: 220px;
            padding: 15px;
        }
        &__icon {
            width: 230px;
            height: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .title {
        &_adv {
            margin-left: 140px;
        }
    }
    .advantages {
        &__list {
            margin-left: 90px;
            li {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 50px;
    }
    .upper {
        &__wrapper {
            background: url(../img/bgd1.png);
        }
        .container {
            width: 320px;  
        }
        &__btn {
            button {
                font-size: 25px;
            }
        }
    }
    .services {
        &__title {
            transform:none;
            padding: 0;
            text-align: center;
            justify-content: center;
            a{
                font-size: 35px;
            }
        }
    }
    .intelligence {
        padding-top: 100px;
        &__blocks {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__block {
            max-width: 280px;
        }
        &__icon {
            width: 270px;
            height: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__text {
            font-weight: 700;
        }
    }
    .advantages {
        padding-top: 80px;

        &__wrapper {
            flex-direction: column;
        }
        &__list {
            width: 50%;
            margin-bottom: 30px;
        }
        &__img {
            order: 1;
            width: 100%;
        }
    }
    .title {
        &_adv {
            margin-left: 30px;
        }
    }
}



@media (max-width: 575px) {
    .title {
        font-size: 35px;
    }

    .upper {
        .container {
            width: 270px;  
        }
        .header {
            padding: 70px 50px 0 50px;
        }
        .menu__active {
            width: 65%;
        }
        .element {
            left: 30px;
            top: 30px;
        }
        .hamburger {
            top: 40px;
            right: 30px;
            z-index: 30;
        }
        &__btn {
            button {
                width: 260px;
                font-size: 23px;
            }
        }
        &__descr {
            font-size: calc(40px + 27*(100vw/1600));
            margin-top: 80px;
            margin-bottom: 93px;
        }
    }
    
}



