.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #1c8597c4;
  z-index: 10000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  max-height: 780px;
  background-color: #ffffff;
  padding: 75px 50px 81px 50px;
  border-radius: 38px;
  text-align: center;
  display: flex;
  &__application {
    width: 300px;
    display: flex;
  }
  &__close {
    position: absolute;
    top: -11px;
    right: -11px;
    font-size: 41px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #F66E4D;
    }
  }

  &__subtitle {
    text-align: center;
    color: #F66E4D;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 50px;
  }

  &__descr {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .error {
    border: 1px solid red;
  }
}

#application,
#consultation,
#specialPermission,
#programPage,
#thanks {
  display: none;
}

.modalLink {
  position: fixed;
  /* фиксированное положение */
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #1c8597c4;
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modalLink:target {
  opacity: 1;
  pointer-events: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ширина модального окна и его отступы от экрана */
// .modalLink-dialog {
//   position: absolute;
//   // width: 100%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

/* свойства для блока, содержащего контент модального окна */
.modalLink-content {
  position: absolute;
  min-width: 1000px;  
  padding: 80px 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0px 15px 30px #00708330;
  border-radius: 100px;
  outline: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* свойства для заголовка модального окна */
.modalLink-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.modalLink-title {
  margin: 0;
  margin-bottom: 30px;
  line-height: normal;
  font-size: 70px;
  font-weight: 700;
}
.modalLink-subtitle {
  font-size: 20px;
  margin-bottom: 50px;
}
/* свойства для кнопки "Закрыть" */
.close {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  right: -3px;
  top: -19px;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color:#F94C23;
  text-decoration: none;
  cursor: pointer;
}

/* свойства для блока, содержащего основное содержимое окна */
.modalLink-body {
  p {
    font-size: 25px;
  }
  span {
    font-weight: bold;
  }
}