.privacyPolicy {
    .title{
        &_policy {
            font-size: 100px;
            max-width: 500px;
            margin-left:6%;
            margin-top: 120px;
        }
    }
    .container {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 40px;
    }
}