.questionsPage {
    .explanation {
        .title {
            &_quest {
                margin-left: 310px;
                text-align: start;
            }
        }
        details {
                &:hover {
                    box-shadow: 0px 10px 20px #00708333;
                }
        }
        details[open] {
            &:hover {
                box-shadow: 0px 5px 30px #F66E4D4D;
            }
        }
    }
}