.title {
    font-size: 100px;
    color:#007083;
    &_expl {
        margin: 0;
        text-align: center;
    }
}
.titleMoon {
    font-size: 100px;
    color:#7BD7E6;
    &_expl {
        margin: 0;
        text-align: center;
    }
}
